$button-color: #222;

body{
  margin: 0;
  padding: 0;
}
.page{
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.photos{
  width:100vw;
  height:90vh;
}
.circles{
  position: absolute;
  bottom: 10vh;
}

.circle {
  border: 2px solid white;
  height: 1.5em;
  width: 1.5em;
  background-color: transparent;
  border-radius: 100%;
  display: inline-block;
  margin: 12px;
  cursor: pointer;
  &:hover{
    background-color:blanchedalmond;
  }
}
.highlighted{
  background-color:white;
}
.price-button{
  border: 3px solid white;
  outline:0;
  border-radius: 50px;
  font-size: 0.8em;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  letter-spacing: 4px;
  overflow: hidden;
  position: absolute;
  padding: 2em 3em;
  margin: 4em;
  top:60vh;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
  transition: all 500ms ease-in-out;
  &::after, &::before { 
    content: "";
    position: absolute;
  }
  &:hover, &:focus {
    background: rgba(255, 255, 255, 0.8);
  }
  &::after {
    background: transparent;
    border-radius: 120px;
    content: attr(data-text);
    color: $button-color;
    padding: 1.6em 2.5em;
    top: 0.4em;
    left: 0.5em;
    -moz-user-select: none;
    user-select: none;
  }
  &::before {
    background: transparent;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    box-shadow: 0 1em 2em 3em rgba(255, 50, 0),
                4em 0em 2em 2em rgba(155, 50, 0),
                -4em -2em 2em 2em rgba(255, 0, 150),
                -4em 2em 2em 4em rgba(0, 0, 150),
                0 -3em 2em 3em rgba(120, 250, 0),
                2em -1em 2em 2em rgba(50, 10, 200);
    width: 0;
    height: 0;
    animation: mix 5s linear infinite;
  }
}
@keyframes mix {
  
  30% {
    box-shadow: 0 -1em 2em 3em rgba(255, 0, 200),
                4em -1em 2em 3em rgba(255, 50, 0),
                -4em 2em 3em 2em rgba(155, 200, 0),
                -4em -2em 2em 2em rgba(200, 0, 150),
                0 3em 2em 2em rgba(20, 250, 0),
                2em 1em 2em 2em rgba(50, 10, 250);
  }
  
  60% {
    box-shadow: 2em 1em 2em 3em rgba(55, 0, 200),
                3em 1em 2em 3em rgba(25, 150, 0),
                3em -2em 3em 3em rgba(155, 200, 0),
                -4em 2em 2em 3em rgba(200, 0, 50),
                0 -3em 2em 3em rgba(200, 250, 0),
                -2em 1em 2em 3em rgba(50, 210, 250);
  }
}
.hero-section-title{
  position:absolute;
  text-align:center;
  font-size: 4em;
  color:white;
  top:30vh;
  margin:0 4em 0;
}
.hero-section-text{
  position:absolute;
  text-align:center;
  font-size: 2em;
  top:40vh;
  color: white;
  margin: 0 2em 0;
}

.hero-section-menu {
  display: none;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  height: 30vh;
  width: 30vw;
  top: 0;
  left: 0;
  z-index: 999;
  border-radius: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: linear-gradient(to bottom right, #ff99ff 0%, #3399ff 100%);
}

.hero-section-menu-hover{
  width: 100%;
    font-size: 2em;
    text-align: center;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.hamburger {
  position: absolute;
  top: 20px;
  left: 20px;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 30px;
  left: 30px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0;
  z-index: 2; /* ensure it is on the top*/
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  border-radius: 100%;
  
  background: white;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*transform the hamburger into a cross*/
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*cause one of the slices to be hidden*/
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*one line should face the other way*/
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}


#menu
{
  position: absolute;
  width: 250px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  border-radius: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 60%;
  
  background: linear-gradient(to right,aqua, green);
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/* menu slide in from left*/
#menuToggle input:checked ~ ul
{
  transform: none;
}
