.footer-section {
  height: 40vh;
  background-color: #5e34d1;
  color: white;
}

.email {
  position: absolute;
  margin-top: 10vh;
  left: 10vw;
}

.footer-title {
  position: absolute;
  margin-top: 15vh;
  left: 40vw;
  font-size: 4em;
}

.copyright {
  position: absolute;
  margin-top: 30vh;
  left: 35vw;
}